.mts { margin-top: $f*10px; }
.mrs { margin-right: $f*10px; }
.mbs { margin-bottom: $f*10px; }
.mls { margin-left: $f*10px; }

.mtm { margin-top: $f*20px; }
.mrm { margin-right: $f*20px; }
.mbm { margin-bottom: $f*20px; }
.mlm { margin-left: $f*20px; }

.mtl { margin-top: $f*45px; }
.mrl { margin-right: $f*45px; }
.mbl { margin-bottom: $f*45px; }
.mll { margin-left: $f*45px; }

.mtx { margin-top: $f*60px; }
.mrx { margin-right: $f*60px; }
.mbx { margin-bottom: $f*60px; }
.mlx { margin-left: $f*60px; }

.pts { padding-top: $f*10px; }
.prs { padding-right: $f*10px; }
.pbs { padding-bottom: $f*10px; }
.pls { padding-left: $f*10px; }

.ptm { padding-top: $f*20px; }
.prm { padding-right: $f*20px; }
.pbm { padding-bottom: $f*20px; }
.plm { padding-left: $f*20px; }

.ptl { padding-top: $f*45px; }
.prl { padding-right: $f*45px; }
.pbl { padding-bottom: $f*45px; }
.pll { padding-left: $f*45px; }

.ptx { padding-top: $f*60px; }
.prx { padding-right: $f*60px; }
.pbx { padding-bottom: $f*60px; }
.plx { padding-left: $f*60px; }