@mixin flex($type: row, $x-align: flex-start, $y-align: flex-start, $wrap: nowrap) {
	display: flex;
	flex-direction: $type;
	justify-content: $x-align;
	align-items: $y-align;
	flex-wrap: $wrap;
}

@mixin flex-item($basis: 1, $order: 0) {
	flex: $basis;
	order: $order;
}